.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 3vw;
    padding-right: 3vw;
}

.w-top_nav {
    height: 6.2vh;
}

.w-bottom_nav {
    height: 9.7vh;
    padding-top: 1.2vh;
}

.w-top_nav .row,
.w-bottom_nav .row {
    justify-content: space-between;
}

.topmenu-wrap a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
}

.topmenu-wrap .nav li:first-child>a {
    padding-left: 0px;
}

.topbuttons-wrap .nav-link {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #083A74;
    display: flex;
    align-items: center;
}

.topbuttons-wrap .nav-link span {
    padding-left: 8px;
}

.mainmenu-wrap a {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
    /* padding: 29px 32px; */
}

.menubuttons-icon {
    width: 32px;
    height: 32px;
}

.top-cart_button span {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #083A74;
    padding-left: 8px;
}

/* MOBILE nav */
.mob-info {
    height: 6.2vh;
}
.mob-nav {
    min-height: 9.7vh;
}
.mob-nav .row {
    justify-content: space-between;
}
.mob-nav .top-cart_button {
    padding-top: 12px;
}
.mobile-buttons_right {
    display: flex;
}

.mob-nav .navbar-nav .nav-link {
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    color: #222222;
}




.navbar-toggler.mobile-nav_button {
    border-color: transparent !important;
    /* margin-top: 10px; */
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-toggler,
.navbar-toggler {
    outline: none;
    box-shadow: none;
    border: none;
}

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon span {
    background: #083A74;
}

.animated-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}


/* HERO */

.hero .slick-slide {
    margin: 0px;

}

/* .hero .slick-slide img {
    height: 84.1vh;
} */
.hero-item {
    display: flex !important;
}

.hero-item .left-image {
    height: 84.1vh;
    width: 72.22vw;
}

.hero-item .right-image {
    height: 84.1vh;
    width: 27.78vw;
}

.hero-item .left-image,
.hero-item .right-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-item .right-image .text-block {
    position: absolute;
    top: 0;
    margin-top: 13.33vh;
}

.text-block_header {
    font-family: IBM Plex Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.text-block_list {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-align: left;
}

.hero-slider .slick-dots {
    bottom: 35px;
}

.slick-dots li button:before {
    font-size: 20px;
}

.text-block_buttonwrap {
    text-align: center;
}

.hero-btn {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    padding: 16px 40px;
    border-radius: 8px;
    gap: 8px;
    background-color: #38B92C;
    color: #FFFFFF;

    margin-top: 40px;
}

/* Main Categories */
.categories-section {
    padding-top: 80px;
}

.main-categories_header {
    font-family: IBM Plex Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 15px;
}

.new-cat {
    background-color: #f7faff;
    border: 2px solid #A9B4BC;
    border-radius: 5px;
    height: 3.1vh;
    min-height: 300px;
    margin-top: 40px;
}

.newcat-header {
    margin: 24px;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
    min-height: 60px;
}





.customer-logos {
    padding: 40px 110px;
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev {
    left: 40px;
    ;
}

.slick-prev:before {
    content: url('image/main/left.svg');
}

.slick-next {
    right: 40px;
}

.slick-next:before {
    content: url('image/main/right.svg');
}

.cat-bottom {
    height: 12.6vh;
}

.cat-bottom img {
    width: 100%;
}


/* Advantages */
.advantages {
    margin-top: 40px;
    padding-top: 80px;
}

.advantages-title {
    font-family: IBM Plex Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;   
}

.advantages-subtitle {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: center;
    width: 100%;
    margin-top: 40px;  
}
.advantages-subtitle:after {
    content: url('image/main/advantages.svg');
    position: absolute;
    margin-left: -324px;
    margin-top: 50px;
}
.advantages-subtitle span {
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;    
}

.advantages-row {
    margin-top: 64px;
    margin-bottom: 120px;
}

.advantages-card {
    border: 2px solid #A9B4BC;
    border-radius: 8px;
    margin-top: 24px;
    background-repeat: no-repeat;
    background-position: 93% 40px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages-content {
    margin: 24px;
}



.advantages-card_title {
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 16px;
}

.advantages-card_list {
    max-width: 26vw;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #4E4E4E;
    margin: 24px 16px;
}

.advantages-card_footer {
    height: 30%;
    border-top: 1px solid #000;
    margin: 0px 24px;
    padding: 24px 0px;
    display: flex;
    justify-content: flex-end;
}
.advantages-card_footer .invisible_button {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
    margin-right: 48px;
}
.advantages-card_footer .invisible_button:after {
    content: url('image/main/Arrow-right.svg');
    position: relative;
    top: 3px;
    left: 15px;
}



/* Links section */
.links-section {
    background-color: #F7FAFF;
    padding-top: 60px;
    padding-bottom: 60px;
}
.links-section_title {
    font-family: IBM Plex Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #222222;
    padding: 0px 16vw;
}

.links-section_left {
    padding-top: 60px;
}
.links-section_left a {
    color: #222222;
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;    
}
.links-section_left li {
    padding-bottom: 12px;
}
.links-section_right {
    padding-top: 128px;
    color: #696969;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}


/* Request section */
.request-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.request-section_title {
    color: #4E4E4E;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}
.request-section_buttonwrap {
    padding-top: 40px;
    text-align: center;
}
.request-button_arrow {
    padding: 12px 100px 16px 100px;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #38b92c; 
    border: none;
    border-radius: 8px;
}
.request-button_arrow span {
    background-image: url('image/main/Arrow 4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
}
.request-section_text {
    padding-top: 40px;
    color: #4E4E4E;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}


/* Portfolio section */
.portfolio-section {
    padding-top: 60px;
    padding-bottom: 120px;
}
.portfolio-section_title {
    color: #000000;
    font-family: IBM Plex Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
}
.portfolio-section .nav-link {
    padding-top: 80px;
    color: #4E4E4E;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    background-color: transparent;
    border: none;
}
.portfolio-section .nav-link.active {
    background-color: transparent;
    color: #2780E6;
    text-decoration: underline;
}
.portfolio-section .tab-content {
    padding-top: 60px;
}
.portfolio-section .tab-content .img-wrap {
    margin-bottom: 28px;
}
.portfolio-section .tab-content img {
    width: 100%;
}

.portfolio-all_wrap {
    width: 100%;
    padding-top: 40px;
    text-align: center;
}
.portfolio-all_button {
    background-color: #207de9;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}


/* Articles section */
.articles-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #083973;

}
.articles-section_header {
    width: 100%;
    font-family: IBM Plex Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.articles-section_cardwrap {
    padding-top: 60px;
}
.articles-section_card {
    background-color: #fff;
    border-radius: 12px;
}
.articles-section_card img {
    width: 100%;
}
.articles-section_cardtext {
    padding: 16px 27px;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

/* Text-section */
.text-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.text-section_title {
    font-family: IBM Plex Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #222222;
    width: 100%;
}
.text-section_subtitle {
    padding-top: 34px;
    font-family: IBM Plex Sans;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #222222;
    width: 100%;
}
.text-section_col {
    margin-top: 80px;
}

.text-section_textwrap {
    padding: 32px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 25px;
}
.text-section_textwrap .p-head {
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}



/* Media */
.mob-nav {
    display: none;
}

@media (max-width: 1200px) {
    .desk-nav {
        display: none;
    }

    .mob-nav {
        display: block;
    }
}

@media (max-width: 800px) {
    .container-fluid {
        padding-left: 7vw;
        padding-right: 7vw;
    }
    .mobile-hide {
        display: none;
    }

    .hero .left-image {
        display: none;
    }
    .hero .right-image {
        width: 100%;
    }
    .hero-item .right-image .text-block {
        width: 100%;
    }
    .text-block_list {
        padding: 0 10vw;
    }
}

@media (max-width: 400px) {
    .topbuttons-wrap .nav-link {
        font-size: 12px;
    }
}